.hidden
*.tmp
.DS_Store

# Nix outputs
result

##Rocq
*.vo
*.vok
*.vos
*.glob
*.v.d
*~
CoqMakefile
RocqMakefile
CoqMakefile.conf
RocqMakefile.conf
Makefile.coq
Makefile.rocq
Makefile.coq.conf
Makefile.rocq.conf
*.a
*.cma
*.cmi
*.cmo
*.cmx
*.cmxa
*.cmxs
*.cmt
*.cmti
*.ml.d
*.mllib.d
*.ml4.d
*.mli.d
*.mlpack.d
*.native
*.o
*.aux
*.d
*.lia.cache
doc/
docs/
_opam/
.merlin
META.*
META

.coq-native/
.rocq-native/
.csdp.cache
.lia.cache
.nia.cache
.nlia.cache
.nra.cache
csdp.cache
lia.cache
nia.cache
nlia.cache
nra.cache

## extraction output
*.rs
*.out


## Editors

### VisualStudioCode ###
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
